/* Dynamic checkout */
/* Product form */
/* Form Elements */
/* Fallback */
/* No outline when focus-visible is available in the browser */
/* Overrides */
/* Product info */
/* Product media */
/* Product popup */
@import "./_settings/core.scss";

.price {
    $self: &;
    &__container {
        margin-bottom: 0.5rem;
    }

    &--sold-out {
        #{$self}__badge-sold-out {
            background: transparent;
            color: rgba(var(--color-base-text), 1);
            border-color: transparent;
        }
        #{$self}__badge-sale {
            display: none;
        }
    }

    .badge {
        margin-bottom: 0.5rem;
    }
    dl {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

.shopify-payment-button__button {
    font-family: inherit;
    min-height: 4.6rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    [role="button"].focused {
        outline: 0.2rem solid rgba(var(--color-foreground), 0.5) !important;
        outline-offset: 0.3rem;
        box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)), 0 0 0 0.3rem rgba(var(--color-background), 1),
            0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3) !important;
    }
    [role="button"] {
        &:focus {
            &:not(:focus-visible) {
                outline: 0;
                box-shadow: none !important;
            }
        }
        &:focus-visible {
            outline: 0.2rem solid rgba(var(--color-foreground), 0.5) !important;
            box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)), 0 0 0 0.3rem rgba(var(--color-background), 1),
                0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3) !important;
        }
    }
    + {
        .shopify-payment-button__button--hidden {
            display: none;
        }
    }
}
.no-js {
    .shopify-payment-button__button {
        [role="button"] {
            &:focus {
                outline: 0.2rem solid rgba(var(--color-foreground), 0.5) !important;
                outline-offset: 0.3rem;
                box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border)),
                    0 0 0 0.3rem rgba(var(--color-background), 1), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3) !important;
                + {
                    label {
                        box-shadow: 0 0 0 0.3rem rgba(var(--color-background), 1), 0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
                    }
                }
            }
        }
    }
    .product-form__input {
        input[type="radio"] {
            &:focus {
                &:not(:focus-visible) {
                    + {
                        label {
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
    .product-form__submit.button--secondary {
        --color-button: var(--color-base-accent-1);
        --color-button-text: var(--color-base-solid-button-labels);
        --alpha-button-background: 1;
    }
}
.shopify-payment-button__button--unbranded {
    background-color: rgba(var(--color-button), var(--alpha-button-background));
    color: rgba(var(--color-button-text), 1);
    font-size: 1.4rem;
    line-height: calc(1 + 0.2 / var(--font-body-scale));
    letter-spacing: 0.07rem;
    &::selection {
        background-color: rgba(var(--color-button-text), 0.3);
    }
    &:hover {
        background-color: rgba(var(--color-button), var(--alpha-button-background));
        &:not([disabled]) {
            background-color: rgba(var(--color-button), var(--alpha-button-background));
        }
    }
}
.shopify-payment-button__more-options {
    margin: 1.6rem 0 1rem;
    font-size: 1.2rem;
    line-height: calc(1 + 0.5 / var(--font-body-scale));
    letter-spacing: 0.05rem;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    color: rgba(var(--color-foreground), 1);
}
variant-radios {
    display: block;
}
variant-selects {
    display: block;
}

.product {
    $self: &;
    margin: 0;
    
    @include mq($mq-tab) {
        &:not(.product--small) {
            .thumbnail__badge {
                height: 3rem;
                width: 3rem;
                .icon {
                    width: 1.2rem;
                    height: 1.2rem;
                }
                .icon-3d-model {
                    width: 1.4rem;
                    height: 1.4rem;
                }
            }
        }
    }

    &:not(.featured-product) {
        #{$self}__view-details {
            display: none;
        }
    }

    &.grid {
        gap: 0;
    }

    &__description{
        font-size: calc(var(--font-heading-scale) * 1.5rem);
        padding-top: 2.4rem;

        > *{
            margin-bottom: 1rem;
        }
        
        ul{
            list-style: disc;
        }
    }

    &--no-media {
        max-width: 57rem;
        margin: 0 auto;
        #{$self}__title {
            text-align: center;
        }
        #{$self}__text {
            text-align: center;
        }
        noscript {
            #{$self}-form__input {
                text-align: center;
                max-width: 100%;
            }
        }
        #{$self}__tax {
            text-align: center;
        }
        shopify-payment-terms {
            text-align: center;
        }
        #{$self}__media-wrapper {
            padding: 0;
        }
        .share-button {
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        fieldset#{$self}-form__input {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            margin: 0 auto 1.2rem auto;
        }
        #{$self}-form__quantity {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            max-width: 100%;
        }
        #{$self}-form__input--dropdown {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            max-width: 100%;
        }
        #{$self}__view-details {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        #{$self}__pickup-availabilities {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        #{$self}-form {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            > .form {
                max-width: 30rem;
                width: 100%;
            }
        }
        #{$self}__info-container {
            > modal-opener {
                display: block;
                text-align: center;
            }
        }
        #{$self}-popup-modal__button {
            padding-right: 0;
        }
        .price {
            text-align: center;
        }
        #{$self}__info-wrapper {
            padding-left: 0;
        }
    }

    &--thumbnail,
    &--thumbnail_slider {
        @include mq($mq-tab, max) {
            .is-active {
                > #{$self}__modal-opener {
                    &:not(#{$self}__modal-opener--image) {
                        display: none;
                    }
                }
                .deferred-media {
                    display: block;
                    width: 100%;
                }
            }
        }
        @include mq($mq-tab) {
            #{$self}__media-list {
                padding-bottom: calc(var(--media-shadow-vertical-offset) * var(--media-shadow-visible));
            }
            #{$self}__media-gallery {
                display: block;
                position: sticky;
                top: 3rem;
                z-index: 2;
            }
            #{$self}__media-item {
                &:not(.is-active) {
                    display: none;
                }
            }
        }
    }

    &--thumbnail {
        &_slider {
            @include mq($mq-tab) {
                .thumbnail-slider {
                    display: flex;
                    align-items: center;
                }
                .slider-mobile-gutter {
                    .slider-button {
                        display: flex;
                    }
                }
            }
            @include mq(($mq-tab, $mq-desk)) {
                #{$self}__media-list {
                    margin-left: 0;
                }
            }
        }

        .thumbnail-list {
            @include mq($mq-tab) {
                padding-right: var(--media-shadow-horizontal-offset);
            }
        }
    }

    &--stacked {
        @include mq($mq-tab) {
            #{$self}__info-container--sticky {
                display: block;
                position: sticky;
                top: 3rem;
                z-index: 2;
            }
            .thumbnail-list {
                display: none;
            }
        }
        @include mq($mq-desk) {
            #{$self}__media-item {
                max-width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
            }
        }
    }

    &--large {
        @include mq($mq-desk) {
            &:not(#{$self}--no-media) {
                #{$self}__media-wrapper {
                    max-width: 65%;
                    width: calc(65% - var(--grid-desktop-horizontal-spacing) / 2);
                }
                #{$self}__info-wrapper {
                    padding-left: 4rem;
                    max-width: 35%;
                    width: calc(35% - var(--grid-desktop-horizontal-spacing) / 2);
                }
            }
            .thumbnail-list {
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }

    &--medium {
        @include mq($mq-desk) {
            &:not(#{$self}--no-media) {
                #{$self}__media-wrapper {
                    max-width: 55%;
                    width: calc(55% - var(--grid-desktop-horizontal-spacing) / 2);
                }
                #{$self}__info-wrapper {
                    max-width: 45%;
                    width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
                }
            }
            .thumbnail-list {
                grid-template-columns: repeat(5, 1fr);
            }
        }
    }

    &--small {
        @include mq($mq-tab-lrg) {
            .thumbnail-list.slider--tablet-up {
                .thumbnail-list__item.slider__slide {
                    width: calc(25% - 0.8rem);
                }
            }
        }
        @include mq($mq-desk) {
            &:not(#{$self}--no-media) {
                #{$self}__info-wrapper {
                    max-width: 55%;
                    width: calc(55% - var(--grid-desktop-horizontal-spacing) / 2);
                }
                #{$self}__media-wrapper {
                    max-width: 45%;
                    width: calc(45% - var(--grid-desktop-horizontal-spacing) / 2);
                }
            }
        }
    }

    &__info-wrapper {
        padding-left: 0;
        padding-bottom: 0;
        @include mq($mq-tab) {
            padding-left: 5rem;

            &--extra-padding {
                padding-left: 8rem;
            }
        }
    }

    &__info-container {
        @include mq($mq-tab) {
            max-width: 60rem;
            .price--on-sale {
                .price-item--regular {
                    font-size: 1.6rem;
                }
            }
        }

        > * {
            + {
                * {
                    margin: 1.5rem 0;
                }
            }
            @include mq($mq-tab) {
                &:first-child {
                    margin-top: 0;
                }
            }
        }

        #{$self}-form {
            margin: 2.5rem 0;
        }
        #{$self}__description {
            margin: 2.5rem 0;
        }
    }

    &-form {
        display: block;

        &__error-message-wrapper,
        .product-form__error-message-wrapper {
            &:not([hidden]) {
                display: flex;
                align-items: flex-start;
                font-size: 1.2rem;
                margin-bottom: 1.5rem;
            }
            svg {
                flex-shrink: 0;
                width: 1.2rem;
                height: 1.2rem;
                margin-right: 0.7rem;
                margin-top: 0.5rem;
            }
        }

        fieldset#{$self}-form__input .form__label {
            margin-bottom: 0.2rem;
        }

        &__input {
            flex: 0 0 100%;
            padding: 0;
            margin: 0 0 1.2rem 0;
            max-width: 37rem;
            min-width: fit-content;
            border: none;

            &--dropdown {
                margin-bottom: 1.6rem;
            }

            .form__label {
                padding-left: 0;
            }
            input[type="radio"] {
                clip: rect(0, 0, 0, 0);
                overflow: hidden;
                position: absolute;
                height: 1px;
                width: 1px;
                + {
                    label {
                        border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
                        background-color: rgba(var(--color-background), 1);
                        color: rgba(var(--color-foreground), 1);
                        border-radius: var(--variant-pills-radius);
                        color: rgba(var(--color-foreground), 1);
                        display: inline-block;
                        margin: 0.7rem 0.5rem 0.2rem 0;
                        padding: 1rem 2rem;
                        font-size: 1.4rem;
                        letter-spacing: 0.1rem;
                        line-height: 1;
                        text-align: center;
                        transition: border var(--duration-short) ease;
                        cursor: pointer;
                        position: relative;
                        &:before {
                            content: "";
                            position: absolute;
                            top: calc(var(--variant-pills-border-width) * -1);
                            right: calc(var(--variant-pills-border-width) * -1);
                            bottom: calc(var(--variant-pills-border-width) * -1);
                            left: calc(var(--variant-pills-border-width) * -1);
                            z-index: -1;
                            border-radius: var(--variant-pills-radius);
                            box-shadow: var(--variant-pills-shadow-horizontal-offset) var(--variant-pills-shadow-vertical-offset)
                                var(--variant-pills-shadow-blur-radius) rgba(var(--color-shadow), var(--variant-pills-shadow-opacity));
                        }
                        &:hover {
                            border-color: rgba(var(--color-foreground), 1);
                        }
                    }
                }
                &:checked {
                    + {
                        label {
                            background-color: rgba(var(--color-foreground), 1);
                            color: rgba(var(--color-background), 1);
                            &::selection {
                                background-color: rgba(var(--color-background), 0.3);
                            }
                        }
                    }
                }
                &:disabled {
                    + {
                        label {
                            border-color: rgba(var(--color-foreground), 0.1);
                            color: rgba(var(--color-foreground), 0.4);
                            text-decoration: line-through;
                        }
                    }
                }
                &:focus-visible {
                    + {
                        label {
                            box-shadow: 0 0 0 0.3rem rgba(var(--color-background), 1), 0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
                        }
                    }
                }
            }
            input[type="radio"].focused {
                + {
                    label {
                        box-shadow: 0 0 0 0.3rem rgba(var(--color-background), 1), 0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
                    }
                }
            }
            .select {
                max-width: 25rem;
            }
        }

        &__quantity .form__label {
            margin-bottom: 0.6rem;
        }

        &__quantity-top .form__label {
            margin-bottom: 1.2rem;
        }

        &__buttons {
            max-width: 44rem;
        }

        &__submit {
            margin-bottom: 1rem;

            &[aria-disabled="true"] {
                + {
                    .shopify-payment-button {
                        .shopify-payment-button__button[disabled] {
                            cursor: not-allowed;
                            opacity: 0.5;
                        }
                    }
                }
            }

            &[disabled] {
                + {
                    .shopify-payment-button {
                        .shopify-payment-button__button[disabled] {
                            cursor: not-allowed;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    &__text {
        margin-bottom: 0;

        a#{$self}__text {
            display: block;
            text-decoration: none;
            color: rgba(var(--color-foreground), 0.75);
        }

        &.caption-with-letter-spacing {
            text-transform: uppercase;
            + {
                #{$self}__title {
                    margin-top: 0;
                }
            }
        }
    }

    &__title {
        word-break: break-word;
        margin-bottom: 1.5rem;
        > * {
            margin: 0;
        }
        > a {
            display: none;
        }
        + {
            #{$self}__text.caption-with-letter-spacing {
                margin-top: -1.5rem;
            }
        }
    }

    &__accordion {
        .accordion__content {
            padding: 0 1rem;
        }
    }

    &__description-title {
        font-weight: 600;
    }

    &__tax {
        margin-top: -1.4rem;
    }

    &__view-details {
        display: block;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
            text-underline-offset: 0.3rem;
        }
        .icon {
            width: 1.2rem;
            margin-left: 1.2rem;
            flex-shrink: 0;
        }
    }

    &__modal-opener {
        @include mq($mq-tab, max) {
            width: 100%;
        }
        @include mq($mq-tab) {
            &:not(#{$self}__modal-opener--image) {
                display: none;
            }
        }
        @include mq($mq-desk) {
            #{$self}__media-icon {
                opacity: 0;
            }
            &:hover {
                #{$self}__media-icon {
                    opacity: 1;
                }
            }
            &:focus {
                #{$self}__media-icon {
                    opacity: 1;
                }
            }
        }

        &:hover {
            #{$self}__media-icon {
                border: 0.1rem solid rgba(var(--color-foreground), 0.1);
            }
        }

        &--image {
            #{$self}__media-toggle {
                &:hover {
                    cursor: zoom-in;
                }
            }
        }
    }

    &__media {
        &-item {
            @include mq($mq-tab, max) {
                display: flex;
                align-items: center;
            }

            &--variant {
                &:first-child {
                    display: block;
                    @include mq($mq-tab, max) {
                        padding-right: 1.5rem;
                    }
                }
            }

            &#{$self}-item--variant {
                display: none;
            }

            > * {
                display: block;
                position: relative;
            }
        }

        &-wrapper {
            padding-left: 0;
            @include mq($mq-tab, max) {
                slider-component {
                    &:not(.thumbnail-slider--no-slide) {
                        margin-left: -1.5rem;
                        margin-right: -1.5rem;
                    }
                }
            }
            @include mq($mq-tab) {
                .slider-mobile-gutter {
                    .slider-button {
                        display: none;
                    }
                }
            }
        }

        &-video &-icon {
            opacity: 1;
        }

        &-icon {
            background-color: rgba(var(--color-background), 1);
            border-radius: 50%;
            border: 0.1rem solid rgba(var(--color-foreground), 0.1);
            color: rgba(var(--color-foreground), 1);
            display: flex;
            align-items: center;
            justify-content: center;
            height: 3rem;
            width: 3rem;
            position: absolute;
            left: calc(0.4rem + var(--media-border-width));
            top: calc(0.4rem + var(--media-border-width));
            z-index: 1;
            transition: color var(--duration-short) ease, opacity var(--duration-short) ease;

            .icon {
                width: 1.2rem;
                height: 1.4rem;
            }
        }

        &-list {
            @include mq($mq-tab, max) {
                margin-left: -2.5rem;
                margin-bottom: 3rem;
                width: calc(100% + 4rem);
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(var(--color-foreground), 1);
                }
                &::-webkit-scrollbar-track {
                    background-color: rgba(var(--color-foreground), 0.2);
                }
                #{$self}__media-item {
                    width: calc(100% - 3rem - var(--grid-mobile-horizontal-spacing));
                }

                .slider#{$self}__media-list {
                    &::-webkit-scrollbar {
                        height: 0.2rem;
                        width: 0.2rem;
                    }
                }
            }
            @include mq($mq-tab) {
                padding-right: calc(var(--media-shadow-horizontal-offset) * var(--media-shadow-visible));
                .deferred-media {
                    display: block;
                }
            }
            @include mq(($mq-tab, $mq-desk)) {
                #{$self}__media-item {
                    &:first-child {
                        padding-left: 0;
                    }
                    width: 100%;
                }
            }
            @include mq($mq-desk) {
                #{$self}__media-item {
                    &:first-child {
                        width: 100%;
                        max-width: 100%;
                    }

                    &--full {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }

            video {
                border-radius: calc(var(--media-radius) - var(--media-border-width));
            }
            .deferred-media {
                display: none;
            }
            .media {
                > * {
                    overflow: hidden;
                }
            }
        }

        &-toggle {
            display: flex;
            border: none;
            background-color: transparent;
            color: currentColor;
            padding: 0;
            &::after {
                content: "";
                cursor: pointer;
                display: block;
                margin: 0;
                padding: 0;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                height: 100%;
                width: 100%;
            }
            &:focus-visible {
                outline: 0;
                box-shadow: none;
                &:after {
                    box-shadow: 0 0 0 0.3rem rgba(var(--color-background), 1), 0 0 0rem 0.5rem rgba(var(--color-foreground), 0.5);
                    border-radius: var(--media-radius);
                }
            }

            &.focused {
                outline: 0;
                box-shadow: none;
                &:after {
                    box-shadow: 0 0 0 0.3rem rgba(var(--color-background), 1), 0 0 0rem 0.5rem rgba(var(--color-foreground), 0.5);
                    border-radius: var(--media-radius);
                }
            }
        }

        &-container {
            @include mq($mq-tab) {
                .slider-buttons {
                    display: none;
                }
            }
        }
    }

    &-media {
        &-modal {
            background-color: rgba(var(--color-background), 1);
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            visibility: hidden;
            opacity: 0;
            z-index: -1;

            &[open] {
                visibility: visible;
                opacity: 1;
                z-index: 101;
            }

            &__dialog {
                display: flex;
                align-items: center;
                height: 100vh;

                .global-media-settings {
                    @include mq($mq-tab, max) {
                        border: none;
                        border-radius: 0;
                        video {
                            border: none;
                            border-radius: 0;
                        }
                        model-viewer {
                            border: none;
                            border-radius: 0;
                        }
                        iframe {
                            border: none;
                            border-radius: 0;
                        }
                        img {
                            border: none;
                            border-radius: 0;
                        }
                    }
                }

                .global-media-settings--no-shadow {
                    @include mq($mq-tab) {
                        overflow: visible !important;
                    }
                }
            }

            &__content {
                max-height: 100vh;
                width: 100%;
                overflow: auto;
                @include mq($mq-tab) {
                    &__content {
                        padding-bottom: 2rem;
                        padding: 2rem 11rem;

                        > #{$self}__media-item--variant#{$self}__media-item--variant {
                            display: none;
                        }
                        > #{$self}__media-item--variant {
                            &:first-child {
                                display: block;
                            }
                        }
                        > * {
                            &:not(.active) {
                                display: block;
                            }
                            width: 100%;
                            + {
                                * {
                                    margin-top: 2rem;
                                }
                            }
                        }
                    }
                }
                @include mq($mq-desk) {
                    padding: 2rem 11rem;
                    padding-bottom: 1.5rem;
                    > * {
                        + {
                            * {
                                margin-top: 1.5rem;
                            }
                        }
                    }
                }
                > * {
                    display: block;
                    height: auto;
                    margin: auto;

                    &:not(.active) {
                        display: none;
                    }
                }
                .media {
                    background: none;
                }
                .deferred-media {
                    width: 100%;
                }
            }

            &__model {
                width: 100%;
            }

            &__toggle {
                background-color: rgba(var(--color-background), 1);
                border: 0.1rem solid rgba(var(--color-foreground), 0.1);
                border-radius: 50%;
                color: rgba(var(--color-foreground), 0.55);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                right: 2rem;
                padding: 1.2rem;
                position: fixed;
                z-index: 2;
                top: 2rem;
                width: 4rem;
                @include mq($mq-tab) {
                    right: 5rem;
                    top: 2.2rem;
                }
                @include mq($mq-desk) {
                    right: 5rem;
                }
                &:hover {
                    color: rgba(var(--color-foreground), 0.75);
                }
                .icon {
                    height: auto;
                    margin: 0;
                    width: 2.2rem;
                }
            }
        }
    }

    &-popup-modal {
        box-sizing: border-box;
        opacity: 0;
        position: fixed;
        visibility: hidden;
        z-index: -1;
        margin: 0 auto;
        top: 0;
        left: 0;
        overflow: auto;
        width: 100%;
        background: rgba(var(--color-foreground), 0.2);
        height: 100%;

        &[open] {
            opacity: 1;
            visibility: visible;
            z-index: 101;
        }

        &__content {
            border-radius: var(--popup-corner-radius);
            background-color: rgba(var(--color-background), 1);
            overflow: auto;
            height: 80%;
            margin: 0 auto;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 5rem;
            width: 92%;
            position: absolute;
            top: 0;
            padding: 0 1.5rem 0 3rem;
            border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
            border-style: solid;
            border-width: var(--popup-border-width);
            box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
                rgba(var(--color-shadow), var(--popup-shadow-opacity));
            @include mq($mq-tab, max) {
                table {
                    display: block;
                    max-width: fit-content;
                    overflow-x: auto;
                    white-space: nowrap;
                    margin: 0;
                }
            }
            @include mq($mq-tab) {
                padding-right: 1.5rem;
                margin-top: 10rem;
                width: 70%;
                padding: 0 3rem;
            }

            &:focus-visible {
                box-shadow: 0 0 0 0.3rem rgba(var(--color-background), 1), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
                    var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
                        rgba(var(--color-shadow), var(--popup-shadow-opacity));
            }

            img {
                max-width: 100%;
            }
        }

        & &__content.focused {
            box-shadow: 0 0 0 0.3rem rgba(var(--color-background), 1), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3),
                var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
                    rgba(var(--color-shadow), var(--popup-shadow-opacity));
        }

        &__opener {
            display: inline-block;
        }

        &__button {
            font-size: 1.6rem;
            padding-right: 1.3rem;
            padding-left: 0;
            height: 4.4rem;
            text-underline-offset: 0.3rem;
            text-decoration-thickness: 0.1rem;
            transition: text-decoration-thickness var(--duration-short) ease;
            &:hover {
                text-decoration-thickness: 0.2rem;
            }
        }

        &__content-info {
            padding-right: 4.4rem;
            > * {
                height: auto;
                margin: 0 auto;
                max-width: 100%;
                width: 100%;
                @include mq($mq-tab, max) {
                    max-height: 100%;
                }
            }
        }

        &__toggle {
            background-color: rgba(var(--color-background), 1);
            border: 0.1rem solid rgba(var(--color-foreground), 0.1);
            border-radius: 50%;
            color: rgba(var(--color-foreground), 0.55);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: sticky;
            padding: 1.2rem;
            z-index: 2;
            top: 1.5rem;
            width: 4rem;
            margin: 0 0 0 auto;
            &:hover {
                color: rgba(var(--color-foreground), 0.75);
            }
            .icon {
                height: auto;
                margin: 0;
                width: 2.2rem;
            }
        }
    }

}

//===== THUMBNAIL ========
.thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    color: rgba(var(--color-base-text), 1);
    cursor: pointer;
    background-color: transparent;
    &:hover {
        opacity: 0.7;
    }
    img {
        pointer-events: none;
    }

    &.global-media-settings {
        img {
            border-radius: 0;
        }
    }

    &.focused {
        outline: 0;
        box-shadow: 0 0 0 0.3rem rgba(var(--color-background), 1), 0 0 0rem 0.5rem rgba(var(--color-foreground), 0.5);
    }

    &__badge {
        background-color: rgba(var(--color-background), 1);
        border-radius: 50%;
        border: 0.1rem solid rgba(var(--color-foreground), 0.1);
        color: rgba(var(--color-foreground), 1);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        width: 3rem;
        position: absolute;
        left: calc(0.4rem + var(--media-border-width));
        top: calc(0.4rem + var(--media-border-width));
        z-index: 1;
        transition: color var(--duration-short) ease, opacity var(--duration-short) ease;
        color: rgba(var(--color-foreground), 0.6);
        height: 2rem;
        width: 2rem;
        left: auto;
        right: calc(0.4rem + var(--media-border-width));
        top: calc(0.4rem + var(--media-border-width));
        .icon {
            width: 1rem;
            height: 1rem;
        }
        .icon-3d-model {
            width: 1.2rem;
            height: 1.2rem;
        }
    }

    &[aria-current] {
        box-shadow: 0 0 0rem 0.1rem rgba(var(--color-foreground), 1);
        border-color: rgba(var(--color-foreground), 1);
        &:focus-visible {
            box-shadow: 0 0 0 0.3rem rgba(var(--color-background), 1), 0 0 0rem 0.5rem rgba(var(--color-foreground), 0.5);
        }
        &:focus {
            outline: 0;
            box-shadow: 0 0 0 0.3rem rgba(var(--color-background), 1), 0 0 0rem 0.5rem rgba(var(--color-foreground), 0.5);
            &:not(:focus-visible) {
                outline: 0;
                box-shadow: 0 0 0 0.1rem rgba(var(--color-foreground), 1);
            }
        }
    }

    &--narrow {
        img {
            height: 100%;
            width: auto;
            max-width: 100%;
        }
    }

    &--wide {
        img {
            height: auto;
            width: 100%;
        }
    }

    &-list {
        flex-wrap: wrap;
        grid-gap: 1rem;
        @include mq($mq-tab) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        @include mq($mq-desk) {
            grid-template-columns: repeat(4, 1fr);
        }

        &.slider--tablet-up &__item.slider__slide {
            @include mq($mq-tab) {
                width: calc(25% - 0.8rem);
            }
            @include mq($mq-tab-lrg) {
                width: calc(20% - 0.8rem);
            }
        }

        &__item {
            position: relative;
            &.slider__slide {
                @include mq($mq-tab, max) {
                    width: calc(33% - 0.6rem);
                }
            }

            &::before {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            &--variant {
                &:not(:first-child) {
                    display: none;
                }
            }
        }
    }

    &-slider {
        @include mq($mq-tab, max) {
            display: flex;
            align-items: center;
            .thumbnail-list.slider {
                display: flex;
                padding: 0.5rem;
                flex: 1;
                scroll-padding-left: 0.5rem;
            }
        }

        @include mq($mq-tab) {
            .thumbnail-list.slider--tablet-up {
                display: flex;
                padding: 0.5rem;
                flex: 1;
                scroll-padding-left: 0.5rem;
            }
        }
    }
}

@include mq($mq-tab) {
    .grid__item.product__media-item--full {
        width: 100%;
    }
}

@media screen and (forced-colors: active) {
    .product-form__input {
        input[type="radio"] {
            &:checked {
                + {
                    label {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .product-form__submit[aria-disabled="true"] {
        color: Window;
    }
}

@keyframes inventory-pulse{
    0%{
        opacity: 0.5;
    }
    to{
        transform: scale(2.5);
        opacity: 0;
    }
}

.icon--inventory {
    &:after, &:before {
        width: 0.9rem;
        height: 0.9rem;
        background:$inventory-high;
        border-radius: 0.9rem;
        position: absolute;
        left: 0;
        top: 0;
        content:"";
        margin: 0.8rem;
    }

    &:before{
        animation:inventory-pulse 2s linear infinite;
    }
}

.inventory {
    $self: &;

    &--low {
        .icon--inventory {
            &:before, &:after {
                background:$inventory-low;
            }
        }
    }

    &--high {
        .icon--inventory {
            &:before, &:after {
                background: $inventory-high;
            }
        }
    }

    &--back_order {
        .icon--inventory {
            &:before, &:after {
                background: $inventory-back-order;
            }
        }
    }

    &--made_to_order {
        .icon--inventory {
            &:before, &:after {
                background: $inventory-made-to-order;
            }
        }
    }

    &--soldout {
        .icon--inventory {
            &:before, &:after {
                background: $inventory-soldout;
            }
        }
    }
}
.sales-points {
    .icon {
        position: relative;
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }

    .sales-point {
        .icon-and-text {
            align-items: flex-start;
            flex-wrap: wrap;
            color: $color-body;
            display: flex;

            .delivery-time {
                width: 100%;
                padding-left: 3.5rem;

                span {
                    display: block;
                }
            }
        }
    }
}