/* Base */
/* Password Section */
@import "./_settings/core.scss";

* {
    box-sizing: inherit;
    &::before {
        box-sizing: inherit;
    }
    &::after {
        box-sizing: inherit;
    }
}
html {
    box-sizing: border-box;
    font-size: calc(var(--font-body-scale) * 62.5%);
}
body {
    background-color: rgba(var(--color-background), 1);
    color: rgba(var(--color-foreground), 1);
    font-size: 1.5rem;
    letter-spacing: 0.07rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    @include mq($mq-tab) {
        font-size: 1.6rem;
        line-height: calc(1 + 0.8 / var(--font-body-scale));
    }
}

.full-height {
    height: 100%;
}

hr {
    margin: 0 !important;
}

details[open] {
    .modal__toggle {
        position: absolute;
        top: 2.2rem;
        right: 2.2rem;
        padding: 0.8rem;
        color: rgba(var(--color-foreground), 1);
        background-color: transparent;
    }
}

.no-js {
    .modal__close-button {
        display: none;
    }
    .modal__toggle {
        z-index: 2;
    }
    details[open].modal {
        .modal__toggle-open {
            display: none;
        }
    }
}

details.modal {
    .modal__toggle-close {
        display: none;
    }
    .modal__toggle-open {
        display: flex;
    }
}

details[open].modal {
    .modal__toggle-close {
        background: rgba(var(--color-background), 1);
        cursor: pointer;
        display: flex;
        padding: 0.8rem;
        z-index: 1;
        svg {
            height: 1.7rem;
            width: 1.7rem;
        }
        &:hover {
            opacity: 0.75;
        }
    }
}
.js {
    details[open].modal {
        .modal__toggle-close {
            display: none;
        }
    }
}

.shopify-name {
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}
.icon-shopify {
    width: 7rem;
    height: 2rem;
    vertical-align: top;
    color: rgba(var(--color-foreground), 1);
}

// PASSWORD
.password {
    $self: &;
    background-color: rgba(var(--color-background), 1);
    height: 100%;

    &-link {
        align-items: center;
        font-size: 1.4rem;
        font-weight: 400;
        white-space: nowrap;
        svg {
            width: 1.8rem;
            height: 1.8rem;
            margin-right: 1rem;
        }
    }

    &-modal {
        justify-self: flex-end;
        grid-column: 3;

        &__content {
            padding: 4.5rem 3.2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            height: 100%;
            box-sizing: border-box;

            &-heading {
                font-size: 1.8rem;
                font-weight: 400;
                line-height: calc(1 + 0.6 / var(--font-body-scale));
                @include mq($mq-tab) {
                    font-size: 1.8rem;
                }
            }
        }

        #{$self}-form {
            max-width: 50rem;
        }
        .icon-close {
            color: rgba(var(--color-foreground), 1);
        }
    }

    &-form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 4rem;
        margin-bottom: 2rem;
        width: 100%;
    }

    &-field {
        &--error {
            @include mq($mq-tab, max) {
                + {
                    #{$self}-button {
                        margin-top: 1.5rem;
                    }
                }
            }
        }

        &.field {
            flex: 1 20rem;
        }

        .form__message {
            margin-top: 1.5rem;
        }
    }

    &-button {
        margin-top: 3rem;
        width: 100%;
        @include mq($mq-tab) {
            margin-top: 0;
            margin-left: 2rem;
            width: auto;
            align-self: start;
        }
    }

    &-logo {
        width: 100%;
        margin-bottom: 1.5rem;
        @include mq($mq-tab) {
            margin-bottom: 0;
        }
    }

    &-header {
        padding: 2rem 1.5rem 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        color: rgba(var(--color-foreground), 1);
        max-width: var(--page-width);
        margin: 0 auto;
        text-align: center;
        @include mq($mq-tab) {
            display: grid;
            gap: 3rem;
            grid-template-columns: 1fr 1.5fr 1fr;
            padding: 2rem 5rem 2.5rem;
            text-align: left;
        }

        .details-modal {
            flex-shrink: 0;
        }
    }

    &-heading {
        margin-top: 5rem;
        font-weight: 400;
    }

    &-main {
        flex-grow: 1;
        > section {
            &:only-child {
                height: 100%;
                > .newsletter {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    margin-top: 0;
                }
                .newsletter__wrapper {
                    &:not(.email-signup-banner__box) {
                        width: 100%;
                    }
                }
                // > {
                &:not(.newsletter--narrow) {
                    > .newsletter__wrapper {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                }
                // }
            }
        }
    }

    &-content {
        text-align: center;
        @include mq($mq-tab, max) {
            margin-bottom: 1.8rem;
            margin-top: 1rem;
        }
    }

    &__footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4rem;
        background-color: rgba(var(--color-background), 1);
        color: rgba(var(--color-foreground), 1);

        &-text {
            a {
                padding: 0;
                font-size: 1.3rem;
                font-weight: 400;
                line-height: calc(1 + 0.5 / var(--font-body-scale));
            }
        }

        &-login {
            margin-top: 1.2rem;
            padding-bottom: 4rem;
        }
    }

    &-caption {
        a {
            padding: 0;
            color: rgba(var(--color-link), 1);
        }
    }
}

.list-social {
    &:not(:empty) {
        + {
            .password__footer-caption {
                margin-top: 3rem;
            }
        }
    }
}
.modal__toggle {
    list-style-type: none;
    &::-webkit-details-marker {
        display: none;
    }
}
.modal__close-button {
    list-style-type: none;
    position: absolute;
    top: 2.2rem;
    right: 2.2rem;
    padding: 0.8rem;
    color: rgba(var(--color-foreground), 1);
    background-color: transparent;
    svg {
        height: 1.7rem;
        width: 1.7rem;
    }
}
