@import "./_settings/core.scss";

.slideshow {
    &:after {
        content: none;
    }
    &__controls {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
        .slider-button {
            display: none;
        }

        .slider-counter__link {
            padding: 20px 10px;
            &--active {
                .dot {
                    background-color: $colour-white !important;
                    transform: none;
                }

                &:hover {
                    .dot {
                        background-color: $colour-white !important;
                        opacity: 1;
                    }
                }
            }
            &--dots  {
                .dot {
                    border-color: $colour-white;
                }

                &:hover {
                    .dot {
                        border-color: $colour-white;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__media {
        img {
            object-fit: cover;
            object-position: center;
        }
    }

    &.banner {
        max-height: 100vh;
        @media #{$breakpoint-small} {
            overflow: hidden;
        }
    }
}