@import "./_settings/font-face";
@import "./_settings/core.scss";
@import "./_object/button";
@import "./_object/quantity";

*,
*::before,
*::after {
    box-sizing: inherit;
} 

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100%;
    margin: 0;
    font-size: 18px;
    letter-spacing: 0.06rem;
    line-height: 1.75;
    font-family: $body-font;
    font-style: normal;
    font-weight: 400;
    color: $colour-white;
    background-color: $colour-primary;

    @media #{$breakpoint-max-medium} {
        font-size: 14px;
    }
}

.page-width {
    padding: 0 50px;

    @media #{$breakpoint-max-medium} {
        padding: 0 30px;
    }
}

h1, h2, h3, h4, h5, 
.h0, .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.25;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: inherit;
}

h1, .h1 {
    font-size: 60px;

    @media #{$breakpoint-max-medium} {
        font-size: 48px;
    }
}

h2,.h2 {
    font-size: 52px;

    @media #{$breakpoint-max-medium} {
        font-size: 32px;
    }
}

h3,.h3 {
    font-size: 40px;

    @media #{$breakpoint-max-medium} {
        font-size: 28px;
    }
}

h4, .h4 {
    font-size: 32px;

    @media #{$breakpoint-max-medium} {
        font-size: 24px;
    }
}

h5, .h5 {
    font-size: 26px;

    @media #{$breakpoint-max-medium} {
        font-size: 18px;
    }
}

h6, .h6 {
    font-size: 18px;

    @media #{$breakpoint-max-medium} {
        font-size: 14px;
    }
}

.rte a {
    color: $colour-white;

    &:hover {
        opacity: 0.7;
    }
}

.subtitle {
    font-family: $subtitle-font;
    color: $colour-quinary;
}

.field {
    border: 1px solid $colour-primary;

    &:before, &:after {
        content: none;
    }
    &:hover {
        &:before, &:after {
            content: none;
        }
    }

    &__input {
        &:focus, &:focus-visible {
            border: none;
            box-shadow: none;
        }
    }
}

.o-section {
    background-color: var(--bg-colour);
}

a {
    text-decoration: none;
    color: $colour-primary;

    &:hover {
        color: $colour-secondary;
    }
}

.text-area {
    background: transparent;
    border: 1px solid $colour-white !important;
    padding: 20px !important;
    font-size: 16px;
    color: $colour-white;

    &::placeholder {
        color: $colour-white !important;
        opacity: 1;
    }

    + label {
        display: none;
    }
}

.checkbox {
    position: relative;
    padding-left: 25px;
    input[type="checkbox"] {
        appearance: none;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    label {
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            border: 1px solid $colour-white;
        }
    }

    input[type="checkbox"]:checked + label{
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 3px;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            background-color: $colour-white;
        }
    }
}