@import "./_settings/core.scss";

.newsletter {
    $self: &;

    &__wrapper {
        padding-right: calc(4rem / var(--font-body-scale));
        padding-left: calc(4rem / var(--font-body-scale));
        @include mq($mq-tab) {
            padding-right: 9rem;
            padding-left: 9rem;
        }

        > * {
            margin-top: 0;
            margin-bottom: 0;
            + {
                * {
                    margin-top: 2rem;
                }
                #{$self}-form {
                    margin-top: 3rem;
                }
            }
        }

        #{$self}-form__field-wrapper {
            max-width: 36rem;
        }
    }

    &-form__field-wrapper {
        #{$self}-form__message {
            margin-top: 1.5rem;
        }
    }

    &__subheading {
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;
    }

    &__button {
        margin-top: 3rem;
        width: fit-content;
        @include mq($mq-tab) {
            flex-shrink: 0;
            margin: 0 0 0 1rem;
        }
    }
}
