@import "./_settings/core.scss";

.list-payment {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -0.5rem 0;
	padding-top: 1rem;
	padding-left: 0;

	@include mq($mq-tab) {
		justify-content: flex-end;
		margin: -0.5rem;
		padding-top: 0;
	}

	&__item {
		align-items: center;
		display: flex;
		padding: 0.5rem;
	}
}