@import "./_settings/core.scss";

.header__icon--menu {
	position: initial;
}

.js {
	menu-drawer {
		>details {
			>summary {
				&::before {
					content: '';
					position: absolute;
					cursor: default;
					width: 100%;
					height: calc(100vh - 100%);
					height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
					top: 100%;
					left: 0;
					background: rgba(var(--color-foreground), 0.5);
					opacity: 0;
					visibility: hidden;
					z-index: 2;
					transition: opacity 0s, visibility 0s;
				}
			}
		}

		> details[open] {
			&:not(.menu-opening) {
				>summary {
					&::before {
						content: '';
						position: absolute;
						cursor: default;
						width: 100%;
						height: calc(100vh - 100%);
						height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
						top: 100%;
						left: 0;
						background: rgba(var(--color-foreground), 0.5);
						opacity: 0;
						visibility: hidden;
						z-index: 2;
						transition: opacity 0s, visibility 0s;
					}
				}
			}
		}
	}

	.menu-drawer {
		height: calc(100vh - 100%);
		height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));

		&__navigation {
			.submenu-open {
				visibility: hidden;
			}
		}

		&__menu {
			li {
				margin-bottom: 0.2rem;
			}

			&-item {
				.icon-caret {
					display: none;
				}
			}
		}

		&__submenu {
			position: absolute;
			top: 0;
			width: 100%;
			bottom: 0;
			left: 0;
			background-color: rgba(var(--color-background), 1);
			border-left: 0.1rem solid rgba(var(--color-foreground), 0.2);
			z-index: 1;
			transform: translateX(100%);
			visibility: hidden;

			.menu-drawer__submenu {
				overflow-y: auto;
			}
		}
	}

	details[open] {
		>.menu-drawer {
			transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
		}

		>.menu-drawer__submenu {
			transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
		}

		&.menu-opening {
			>.menu-drawer {
				transform: translateX(0);
				visibility: visible;
			}
		}
	}
}

menu-drawer {
	>details[open] {
		>summary {
			&::before {
				visibility: visible;
				opacity: 1;
				transition: opacity var(--duration-default) ease, visibility var(--duration-default) ease;
			}
		}
	}
}

.no-js {
	details[open] {
		>.menu-drawer {
			transform: translateX(0);
			visibility: visible;
		}
	}

	.menu-drawer {
		@include mq($mq-tab) {
			height: auto;
		}

		.icon-arrow {
			display: none;
		}

		&__close-button {
			display: none;
		}

		&__menu-item {
			font-size: 1.6rem;
	
			.icon-caret {
				right: 3rem;
			}
		}

		&__navigation {
			padding: 0;
	
			>ul {
				>li {
					border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.04);
				}
			}
		}

		&__submenu {
			ul {
				>li {
					border-top: 0.1rem solid rgba(var(--color-foreground), 0.04);
				}
			}
	
			.menu-drawer__menu-item {
				padding: 1.2rem 5.2rem 1.2rem 6rem;
			}
	
			.menu-drawer__submenu {
				.menu-drawer__menu-item {
					padding-left: 9rem;
				}
			}
		}
	}
}

.menu-drawer {
	position: absolute;
	transform: translateX(-100%);
	visibility: hidden;
	z-index: 3;
	left: 0;
	top: 100%;
	width: calc(100vw - 4rem);
	padding: 0;
	border-width: 0 var(--drawer-border-width) 0 0;
	background-color: rgba(var(--color-background), 1);
	overflow-x: hidden;
	border-style: solid;
	border-color: rgba(var(--color-foreground), var(--drawer-border-opacity));
	filter: drop-shadow(var(--drawer-shadow-horizontal-offset) var(--drawer-shadow-vertical-offset) var(--drawer-shadow-blur-radius) rgba(var(--color-shadow), var(--drawer-shadow-opacity)));

	@include mq($mq-tab) {
		width: 40rem;
	}

	summary.menu-drawer__menu-item {
		padding-right: 5.2rem;
	}

	.list-social {
		justify-content: flex-start;
		margin-left: -1.25rem;
		margin-top: 2rem;

		&:empty {
			display: none;
		}
	}

	.list-social__link {
		padding: 1.3rem 1.25rem;
	}

	&__inner {

		&-container {
			position: relative;
			height: 100%;
		}

		&-submenu {
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}

	&__navigation {
		padding: 5.6rem 0;

		&-container {
			display: grid;
			grid-template-rows: 1fr auto;
			align-content: space-between;
			overflow-y: auto;
			height: 100%;
		}
	}

	&__menu-item {
		padding: 1.1rem 3.2rem;
		text-decoration: none;
		font-size: 1.8rem;

		&:focus {
			color: rgba(var(--color-foreground), 1);
			background-color: rgba(var(--color-foreground), 0.04);
		}

		&:hover {
			color: rgba(var(--color-foreground), 1);
			background-color: rgba(var(--color-foreground), 0.04);
		}

		>.icon-arrow {
			position: absolute;
			right: 2.5rem;
			top: 50%;
			transform: translateY(-50%);
		}

		&--active {
			color: rgba(var(--color-foreground), 1);
			background-color: rgba(var(--color-foreground), 0.04);

			&:hover {
				background-color: rgba(var(--color-foreground), 0.08);
			}
		}
	}

	&__close-button {
		&:focus {
			color: rgba(var(--color-foreground), 1);
			background-color: rgba(var(--color-foreground), 0.04);
		}

		&:hover {
			color: rgba(var(--color-foreground), 1);
			background-color: rgba(var(--color-foreground), 0.04);
		}

		margin-top: 1.5rem;
		padding: 1.2rem 2.6rem;
		text-decoration: none;
		display: flex;
		align-items: center;
		font-size: 1.4rem;
		width: 100%;
		background-color: transparent;
		font-family: var(--font-body-family);
		font-style: var(--font-body-style);
		text-align: left;

		.icon-arrow {
			transform: rotate(180deg);
			margin-right: 1rem;
		}
	}

	&__utility-links {
		padding: 2rem;
		background-color: rgba(var(--color-foreground), 0.03);
	}

	&__account {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		padding: 1.2rem;
		margin-left: -1.2rem;
		font-size: 1.4rem;
		color: rgba(var(--color-foreground), 1);

		.icon-account {
			height: 2rem;
			width: 2rem;
			margin-right: 1rem;
		}

		&:hover {
			.icon-account {
				transform: scale(1.07);
			}
		}
	}
}

details[open].menu-opening {
	>.menu-drawer__submenu {
		transform: translateX(0);
		visibility: visible;
	}
}