@import "./_settings/core.scss";


.pagination {
	&-wrapper {
		margin-top: 4rem;

		@include mq($mq-desk) {
			margin-top: 5rem;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		>li {
			flex: 1 0 4.4rem;
			max-width: 4.4rem;

			&:not(:last-child) {
				margin-right: 1rem;
			}
		}
	}

	&__item {
		color: rgba(var(--color-foreground), 1);
		display: inline-flex;
		justify-content: center;
		align-items: center;
		position: relative;
		height: 4.4rem;
		width: 100%;
		padding: 0;
		text-decoration: none;

		.icon-caret {
			height: 0.6rem;
		}

		&:hover {
			&::after {
				content: '';
				display: block;
				width: 2rem;
				position: absolute;
				bottom: 8px;
				left: 50%;
				transform: translateX(-50%);
				background-color: currentColor;
			}
		}

		&--current {
			&::after {
				height: 0.1rem;
				content: '';
				display: block;
				width: 2rem;
				position: absolute;
				bottom: 8px;
				left: 50%;
				transform: translateX(-50%);
				background-color: currentColor;
			}
		}

		&--next {
			.icon {
				margin-left: -0.2rem;
				transform: rotate(90deg);
			}

			&:hover {
				.icon {
					transform: rotate(90deg) scale(1.07);
				}
			}
		}

		&--prev {
			.icon {
				margin-right: -0.2rem;
				transform: rotate(-90deg);
			}

			&:hover {
				.icon {
					transform: rotate(-90deg) scale(1.07);
				}
			}
		}

		&-arrow {
			&:hover {
				&::after {
					display: none;
				}
			}
		}
	}


}




a.pagination__item {
	&:hover {
		&::after {
			height: 0.1rem;
		}
	}
}