@import "./_settings/core.scss";

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-body;
    font-weight: $font-body-weight;
    @include font-size(16);
}

a {
    color: $color-link;
}

.hidden {
    display: none;
}

.tooltip{
    bottom: 15px !important;
}

.checkout-term {
    $self: &;

    a {
        color: #000;
        text-decoration: underline;
    }

    &__popup {
        display: none;
        
        max-width: 723px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
        overflow: hidden;
        max-height: 95%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 999;
        padding: 0 20px;

        &--inner {
            
            background: #fff;
        }

        &--close-button {
            @include font-size(22, 1.13);
            top: 30px;
            right: 30px;
            position: absolute;
            z-index: 9999;            
            width: 25px;
            text-align: center;
            background: #fff;
            color: #000;
            border: none;
            padding: 0;
            cursor: pointer;
        }

        &-active {
            display: block;
            animation: fadeIn 0.5s;
        }

        &--content {
            padding: 37px 68px 25px 58px;
            overflow-x: auto;
            overflow-y: hidden;
            @include mq($mq-desk, max) {
                padding: 30px;
            }
        }

        &--title{
            @include font-size(36, 1.333);

            font-weight: 400;
            color: #000000;
            text-align: center;
            margin-bottom: 12px;

        }

        &--text {
            overflow-x: auto;
            max-height: 537px;
            padding-right: 25px;

            &::-webkit-scrollbar{
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                background: #EDEDED;
                border-radius: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background: #000;
                border-radius: 4px;
            }

            strong{
                @include font-size(24, 1.333);

                display: block;
                font-weight: 600;
                margin: 10px 0;
            }
            a {
                color: #000;
            }
        }
    }

    &__notice {
        display: none;
        p {
            color: #AC4637;
            font-size: 14px;
            line-height: 1.35;
            font-weight: 400;
            margin-top: 5px;
            background: none;
            border: none;
            padding: 0;
        }
    }

    &__error {
        .content-box {
            border-color: #e22120;
            box-shadow: 0 0 0 1px #e22120;
        }

        .checkbox__label {
            color: #e22120;
            a {
                color: #e22120;
            }
        }

        #{$self} {

            &__notice {
                display: block;
                color: #e22120;
                line-height: 1.3em;
                margin: 0.5714285714em 0 0.2857142857em;
            }
        }
    }
}

.js-popup {
    &:after {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.8);
        top: 0;
        right: 0;
        z-index: 2;
        animation: fadeIn 0.5s;
    }
}