.collection {
    &--empty {
        .title-wrapper {
            margin-top: 10rem;
            margin-bottom: 15rem;
        }
    }

    &--full-width {
        @media screen and (min-width: 990px) {
            .slider-component {
                &:not(.slider-component-desktop) {
                    padding: 0 1.5rem;
                    max-width: none;
                }
            }
        }
    }

    .slider-component {
        @media screen and (min-width: 990px) {
            &:not(.page-width-desktop) {
                padding: 0;
            }
        }
    }

    .grid__item {
        @media screen and (max-width: 749px) {
            &:only-child {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    @media screen and (max-width: 989px) {
        .slider.slider--tablet {
            margin-bottom: 1.5rem;
        }
        .slider--tablet.product-grid {
            scroll-padding-left: 1.5rem;
        }
    }

    .loading-overlay {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        width: 100%;
        padding: 0 1.5rem;
        opacity: 0.7;
        @media screen and (min-width: 750px) {
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }

    &.loading {
        .loading-overlay {
            display: block;
        }
    }

    &__description {
        > * {
            margin: 0;
        }
    }

    &__title {
        .title {
            &:not(:only-child) {
                margin-bottom: 1rem;
            }

            &-wrapper {
                margin-bottom: 2.5rem;

                &--self-padded-tablet-down {
                    @media screen and (min-width: 990px) {
                        padding: 0 5rem;
                    }
                }
            }
        }

        &--desktop-slider {
            @media screen and (min-width: 990px) {
                .title {
                    margin-bottom: 2.5rem;
                }
            }
        }
    }

    &__view-all {
        a {
            &:not(.link) {
                margin-top: 1rem;
            }
        }
    }
}
